/* classic.css -- CSS Classique */

@import url("classic_sz.css");
@import url("layout.css");
@import url("paragraph.css");

div#page {
  padding-bottom: 2em;
}
/* Styles de texte */

div#title p#introduction {
  font-size: 80%;
  letter-spacing: 0.05em;
}

div#title p#headline {
  color: #bbb;
  letter-spacing: 0.33em;
  text-align: center;
  text-transform: uppercase;
}

div#content h1,
div#content h2,
div#content h3,
div#content h4,
div#content h5,
div#content h6 {
  font-weight: normal;
}


div#content h1 {
  color: #cc6600;
  letter-spacing: 0.1em;
}

div#content h2 {
  color: #ee6600;
  letter-spacing: 0.1em;
  font-style: italic;
}

div#content h3,
div#content h4,
div#content h5,
div#content h6 {
  text-indent: -1em;
  letter-spacing: 0.15em;
}

div#content h4 {
  font-style: italic;
}

WPAGE_MORE {
  color: #444;
}

WPAGE_MORE .info,
WPAGE_MORE .menu,
WPAGE_MORE .warn {
  font-family: Sans, Arial, Helvetica;
  border-style: solid;
  border-width: 1px;
  margin-top: 2em;
}

WPAGE_MORE .menu .title,
WPAGE_MORE .info .title,
WPAGE_MORE .warn .title {
  font-weight: bold;
  line-height: 100%;
  letter-spacing: 0.15em;
  padding: 5px;
}

WPAGE_MORE .info .body,
WPAGE_MORE .warn .body {
  letter-spacing: 0.15em;
  padding: 5px;
  line-height: 140%;
}

/* Texte */

div#content {
  line-height: 160%;
}

/* Couleurs */

WPAGE_MORE .info {
  border-color: #F8D583;
  background: #ffd;
}

WPAGE_MORE .info .title {
  background: #F8D583;
}

WPAGE_MORE .warn {
  border-color: #C5D5A9;
  background: #eee;
}

WPAGE_MORE .warn .title {
  background: #C5D5A9;
}

WPAGE_MORE .menu {
  border-color: #F8D583;
  background: #ffd;
}

WPAGE_MORE .menu .title {
  background: #F8D583;
}
