/* paragraph.css -- Présentation des paragraphes */

div#title p#headline {
  font-size: 170%;
}

div#title p#introduction {
  text-align: justify;
}

div#content p {
  text-align: justify;
  text-indent: 1em;
}

#shield-box .info,
#shield-box .menu,
#shield-box .warn {
  font-size: 80%;
}

div#content h1,
div#content h2,
div#content h3,
div#content h4,
div#content h5,
div#content h6 {
  text-indent: -2em;
  margin-left: 2em;
}

div#content h1 {
  font-size: 140%;
}

div#content h2 {
  font-size: 120%;
}

div#content h3 {
  font-size: 120%;
}

div#content h4 {
  font-size: 110%;
}

div#content h5 {
  font-size: 110%;
}

div#content h6 {
  font-size: 100%;
}

/* Structure */

pre {
  font-size: 80%;
  line-height: 110%;
  text-align: left;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
}

pre.file,
pre.code {
  color: #660000;
}

pre.shell {
  color: #006600;
}

pre.shell:first-line {
  font-style: italic;
}

ul.resources:before {
  font-style: italic;
  margin-left: -1em;
}

ul.resources:lang(en):before {
  content: "Resources:";
}

ul.resources:lang(fr):before {
  content: "Ressources :";
}
