/* layout.css -- Dimensions et positions pour les parchemins */

/* SYNOPSIS
body.scroll {
  font-family: Serif;
  font-size: 10pt;
}
@import "scroll_layout.css"

La déclaration de la fonte générale et de la taille du corps de texte
est aussi une information métrique, car des unités de la CSS utilisent
des unités relatives.
*/

body.scroll,
body.scroll div#page,
body.scroll div#page div#header,
body.scroll div#page div#footer,
body.scroll div#page div#title,
body.scroll div#page div#content,
body.scroll div#more {
  margin: 0px 0px 0px 0px;
}

body.scroll {
  background: #336666;
}

body.scroll div#page {
  position: absolute;
  left: 6em;
  right: auto;
  width: 48em;
  background: white;
  border-style: outset;
  border-width: thin;
}

body.scroll div#more {
  position: fixed;
  background: white;
  left: 60em;
  right: auto;
  top: auto;
  bottom: 2em;
  width: 14em;
  padding: 2em;
  border-style: outset;
  border-width: thin;
}

body.scroll div#page div#header,
body.scroll div#page div#title,
body.scroll div#page div#content,
body.scroll div#page div#footer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 6em;
  padding-right: 6em;
  width: 36em;
}

body.scroll div#page div#title {
  margin-left: auto;
  margin-right: auto;
  width: 36em;
}

body.scroll div#page div#header,
body.scroll div#page div#footer{
  visibility: hidden;
  height: 0px;
}

/* Espaces verticaux dans la structure */

body.scroll div#page div#content p {
  margin-top: 0em;
  margin-bottom: 0em;
}

body.scroll div#page div#content h1,
body.scroll div#page div#content h2,
body.scroll div#page div#content h3 {
  margin-top: 2em;
  margin-bottom: 1em;
}

body.scroll div#page div#content h4,
body.scroll div#page div#content h5,
body.scroll div#page div#content h6 {
  display: -moz-run-in;
  display: run-in;
  text-indent: 0em;
  margin-left: 0em;
  margin-bottom: 0em;
}

body.scroll div#page div#title p#headline {
  margin-top: 3em;
  margin-bottom: 2em;
}
