html {
    font-family: Palatino, Garamond, Times New Roman, Serif;
}

div#tableofcontents {
    border: solid black 1px;
    background-color: #CCCCFF;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #CCCCFF;
}

p {
    text-align: justify;
}

h4, h5, h6 {
    display: inline;
    margin-right: 3ex;
}

h5 {
    font-size: 100%;
    font-weight: normal;
    font-style: italic;
}