*.o
*.a
*.cb
*.cn
*.cmo
*.cmx
basic/basic_lexer.ml
basic/basic_parser.ml
basic/basic_parser.mli
basic/minibasic
newton-doc/newtontk.odoc
newton-doc/newtontk_html/
ocamlfind/wordcount
toplevel/toplevel
wordcount-1/wordcount
wordcount-2/wordcount
basic-1/basic_lexer.ml
basic-1/basic_parser.ml
basic-1/basic_parser.mli
basic-1/minibasic
basic-2/basic_lexer.ml
basic-2/basic_parser.ml
basic-2/basic_parser.mli
basic-2/minibasic
golden-ratio/golden-ratio
basic-3/basic_lexer.ml
basic-3/basic_parser.ml
basic-3/basic_parser.mli
basic-4/basic_lexer.ml
basic-4/basic_parser.ml
basic-4/basic_parser.mli
golden_ratio/golden_ratio
miniproj-1/golden_ratio/golden_ratio
miniproj-2/golden_ratio/golden_ratio
miniproj-2/manual/golden_ratio_html/
miniproj-3/golden_ratio/golden_ratio
miniproj-3/manual/golden_ratio_html/
objdir/
